.pizzaform-container {
    display: flex;
    flex-direction: column;
}

.pizzaform-container label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.pizzaform-container input {
    padding: 8px;
    width: 60%;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

.pizzaform-container input:focus {
    border-color: #ff4500;
}

.pizzaform-btn {
    padding: 10px 20px;
    width: 70%;
    background-color: #ffaf92;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pizzaform-btn:hover {
    background-color: #ff4500;
}